version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "dependencies"
    reviewers:
      - "maintainers"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"