version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "dependencies"
    assignees:
      - "dependabot"
    reviewers:
      - "maintainers"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"