name: Dependabot Automerge

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

jobs:
  automerge:
    # 排除 modernc/sqlite 的 PR，因为它们需要额外处理
    if: |
      (github.actor == 'dependabot[bot]' || github.actor == 'dependabot') &&
      !contains(github.event.pull_request.title, 'modernc.org/sqlite')
    
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Run tests
        run: go test -v ./...

      - name: Enable Automerge
        if: success()
        run: |
          gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
